{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Rental_price</th>
                <th>Pictures</th>
                <th>Location</th>
                <th>Year</th>
                <th>Type_of_gearbox</th>
                <th>Fuel_type</th>
                <th>Place_of_delivery</th>
                <th>Place_of_reteur</th>
                <th>Description</th>
                <th>Posted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.rentalPrice }}</td>
                <td>{{ car.pictures }}</td>
                <td>{{ car.location }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.typeOfGearbox }}</td>
                <td>{{ car.fuelType }}</td>
                <td>{{ car.placeOfDelivery }}</td>
                <td>{{ car.placeOfReteur }}</td>
                <td>{{ car.description }}</td>
                <td>{{ car.postedAt ? car.postedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
